.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 5%;
}
  
  .info{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: antiquewhite;
    background-color: saddlebrown;
  }
  
  h2 {
    margin-top: 5%;
    font-size: 2rem;
  }
  
  img {
    max-width: 100%;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1rem;
  }
  
.button{
    justify-content: flex-start;
}